<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Webdevs_Test>
            <version>0.1.0</version>
        </Webdevs_Test>
    </modules>
    <global>
        <models>
            <test>
                <class>Webdevs_Test_Model</class>
                <resourceModel>test_resource</resourceModel>
            </test>
            <test_resource>
                <class>Webdevs_Test_Model_Resource</class>
                <entities>
                </entities>
            </test_resource>
        </models>
        <resources>
			<!-- set resource setup, read, write, any -->
			<!--
			 <test_setup>
                <setup>
                    <module>Webdevs_Test</module>
                    <class>Webdevs_Test_Model_Resource_Setup</class>
                </setup>
                <connection>
            	   <use>core_setup</use>
        	   </connection>
            </test_setup>
            <test_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_write>
            <test_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_read>
            -->
		</resources>
        <blocks>
            <test>
                <class>Webdevs_Test_Block</class>
            </test>
        </blocks>
        <helpers>
			<test>
				<class>Webdevs_Test_Helper</class>
			</test>
		</helpers>
		<events>
        </events>
        <index>
        </index>
    </global>
    <adminhtml>
		<events></events>
		<translate>
		<!--
			<modules>
                <Webdevs_Test>
                    <files>
                        <default>Webdevs_Test.csv</default>
                    </files>
                </Webdevs_Test>
            </modules>
        -->
		</translate>
		<layout>
		<!--
			<updates>
				<test>
					<file>test.xml</file>
				</test>
			</updates>
		-->
		</layout>
    </adminhtml>
    <admin>
    	<routers>
    	<!--
    		<adminhtml>
				<args>
					<modules>
						<test before="Mage_Adminhtml">Webdevs_Test_Adminhtml</test>
					</modules>
				</args>
			</adminhtml>
		-->
		</routers>
    </admin>
    <frontend>
		<routers></routers>
		<events></events>
		<translate>
			<!--
			<modules>
                <Webdevs_Test>
                    <files>
                        <default>Webdevs_Test.csv</default>
                    </files>
                </Webdevs_Test>
            </modules>
        	-->
		</translate>
		<layout>
			<!--
			<updates>
				<test>
					<file>test.xml</file>
				</test>
			</updates>
		-->
		</layout>
	</frontend>
</config>